# Copyright (c) 2024 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

menuconfig SC_LIB_FLASH
	bool "Space Cubics Flash Memory libraries"
	default y
	help
	  Enable Space Cubics Flash Memory libraries.
